#root{
    margin: 0px;
    padding: 0px;
}

* {
    padding: 0;
    margin: 0;
}

main{
    padding: 0 1em;
    padding-top: 4em;
    height: calc(100vh - 4em);
}

body {
    font-family: system-ui;
    min-height: 100vh;
    background-color: #343434;
}

.logo-title{
    z-index: 1;
    position: absolute;
    padding: 0 .2em;
    top: 0;
    left: 0;
    font-size: 48px;
    width: fit-content;
    background: linear-gradient(-35deg, rgb(240, 104, 210), rgb(111, 210, 210));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
}